@import "tailwindcss";

@layer utilities {
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
