@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

html, body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@layer utilities {
  .grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
